<a href="https://colab.research.google.com/github/davidlealo/sic_ai_2025_sept/blob/main/2_preprocesamiento/clase_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 6

In [1]:
import pandas as pd

# Load the mpg dataset (assuming it's available locally or via URL)
# Replace 'mpg.csv' with the actual path or URL to your mpg dataset
try:
    mpg_df = pd.read_csv('mpg.csv')
    print("Dataset loaded successfully.")
    display(mpg_df.head())
except FileNotFoundError:
    print("Error: mpg.csv not found. Please make sure the file is in the correct directory.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: mpg.csv not found. Please make sure the file is in the correct directory.

In [2]:
import seaborn as sns

# Load the mpg dataset from seaborn
mpg_df = sns.load_dataset('mpg')

# Display the first few rows of the dataframe
display(mpg_df.head())

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [11]:
mpg_df['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [12]:
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [3]:
mpg_df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [4]:
# Select numerical columns, excluding 'model_year' which is more of a categorical feature here
numerical_cols = mpg_df.select_dtypes(include=['float64', 'int64']).columns.tolist()
# Removing 'model_year' as it represents a year and not a continuous numerical feature for scaling purposes in this context
numerical_cols.remove('model_year')

print("Numerical columns selected for scaling:")
print(numerical_cols)

Numerical columns selected for scaling:
['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration']

In [5]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
minmax_scaler = MinMaxScaler()

# Apply Min-Max scaling to the selected numerical columns
mpg_df_minmax_scaled = mpg_df.copy()
mpg_df_minmax_scaled[numerical_cols] = minmax_scaler.fit_transform(mpg_df[numerical_cols])

print("DataFrame after Min-Max Scaling:")
display(mpg_df_minmax_scaled.head())

DataFrame after Min-Max Scaling:

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,0.239362,1.0,0.617571,0.456522,0.536150,0.238095,70,usa,chevrolet chevelle malibu
1,0.159574,1.0,0.728682,0.646739,0.589736,0.208333,70,usa,buick skylark 320
2,0.239362,1.0,0.645995,0.565217,0.516870,0.178571,70,usa,plymouth satellite
3,0.186170,1.0,0.609819,0.565217,0.516019,0.238095,70,usa,amc rebel sst
4,0.212766,1.0,0.604651,0.510870,0.520556,0.148810,70,usa,ford torino

In [6]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
standard_scaler = StandardScaler()

# Apply Standard scaling to the selected numerical columns
mpg_df_standard_scaled = mpg_df.copy()
mpg_df_standard_scaled[numerical_cols] = standard_scaler.fit_transform(mpg_df[numerical_cols])

print("DataFrame after Standard Scaling:")
display(mpg_df_standard_scaled.head())

DataFrame after Standard Scaling:

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,-0.706439,1.498191,1.090604,0.664133,0.630870,-1.295498,70,usa,chevrolet chevelle malibu
1,-1.090751,1.498191,1.503514,1.574594,0.854333,-1.477038,70,usa,buick skylark 320
2,-0.706439,1.498191,1.196232,1.184397,0.550470,-1.658577,70,usa,plymouth satellite
3,-0.962647,1.498191,1.061796,1.184397,0.546923,-1.295498,70,usa,amc rebel sst
4,-0.834543,1.498191,1.042591,0.924265,0.565841,-1.840117,70,usa,ford torino

In [46]:
mpg = mpg_df.drop(['model_year', 'origin', 'name'], axis=1)

mpg.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cylinders,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419
displacement,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196
weight,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457
acceleration,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000

In [8]:
import seaborn as sns

# Load the titanic dataset from seaborn
titanic_df = sns.load_dataset('titanic')

# Display the first few rows of the dataframe
display(titanic_df.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [10]:
# Valores faltantes de titanic_df

titanic_df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
# Ver datos faltantes

titanic_df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [15]:
titanic_df.isna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [17]:
titanic_df.notnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True
887,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
888,True,True,True,False,True,True,True,True,True,True,True,False,True,True,True
889,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
890,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True

In [18]:
titanic_df.notnull().sum()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [19]:
titanic_df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [20]:
titanic1 = titanic_df.copy()

In [21]:
titanic2 = titanic_df.copy()

In [22]:
titanic1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [26]:
# Uso de https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

titanic1.dropna(axis=0, inplace=True)

In [27]:
titanic1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     182 non-null    int64
 1   pclass       182 non-null    int64
 2   sex          182 non-null    object
 3   age          182 non-null    float64
 4   sibsp        182 non-null    int64
 5   parch        182 non-null    int64
 6   fare         182 non-null    float64
 7   embarked     182 non-null    object
 8   class        182 non-null    category
 9   who          182 non-null    object
 10  adult_male   182 non-null    bool
 11  deck         182 non-null    category
 12  embark_town  182 non-null    object
 13  alive        182 non-null    object
 14  alone        182 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 18.2+ KB

In [28]:
titanic2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [29]:
titanic2.dropna(axis=1, inplace=True)

In [30]:
titanic2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    object
 3   sibsp       891 non-null    int64
 4   parch       891 non-null    int64
 5   fare        891 non-null    float64
 6   class       891 non-null    category
 7   who         891 non-null    object
 8   adult_male  891 non-null    bool
 9   alive       891 non-null    object
 10  alone       891 non-null    bool
dtypes: bool(2), category(1), float64(1), int64(4), object(3)
memory usage: 58.6+ KB

In [31]:
titanic3 = titanic_df.copy()

In [32]:
titanic3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [33]:
titanic3.dropna(axis=1, thresh=500, inplace=True)

In [34]:
titanic3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [35]:
mean_age = titanic3['age'].mean(axis=0)

In [36]:
mean_age

np.float64(29.69911764705882)

In [37]:
# Uso de https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

titanic3['age'].fillna(mean_age, inplace=True)

/tmp/ipython-input-2000173879.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic3['age'].fillna(mean_age, inplace=True)

In [38]:
print(titanic3.age.head(10))

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: age, dtype: float64

In [39]:
# Calculate and display the frequency of each category in the 'embark_town' column
embark_town_counts = titanic3['embark_town'].value_counts()
print("Frequency of embark_town by category:")
display(embark_town_counts)

Frequency of embark_town by category:

embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64

In [40]:
# Check for missing values in the 'embark_town' column
print("Missing values in 'embark_town' column:")
display(titanic3['embark_town'].isna().sum())

Missing values in 'embark_town' column:

np.int64(2)

In [41]:
titanic3[825:830]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
825,0,3,male,29.699118,0,0,6.9500,Q,Third,man,True,Queenstown,no,True
826,0,3,male,29.699118,0,0,56.4958,S,Third,man,True,Southampton,no,True
827,1,2,male,1.000000,0,2,37.0042,C,Second,child,False,Cherbourg,yes,False
828,1,3,male,29.699118,0,0,7.7500,Q,Third,man,True,Queenstown,yes,True
829,1,1,female,62.000000,0,0,80.0000,NaN,First,woman,False,NaN,yes,True

In [43]:
titanic3.duplicated().sum()

np.int64(111)

In [47]:
# Create dummy variables for the 'sex' column
sex_dummies = pd.get_dummies(titanic3['sex'], prefix='sex', drop_first=True)

# Display the first few rows of the new dummy variables DataFrame
display(sex_dummies.head())

   sex_male
0      True
1     False
2     False
3     False
4      True

### Matching the Same Measurement Unit Equally

In [48]:
df = pd.read_csv('./auto-mpg.csv', header=None)

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
              'acceleration', 'model year', 'orign', 'name']
print(df.head(3))
print('\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70

   orign                       name
0      1  chevrolet chevelle malibu
1      1          buick skylark 320
2      1         plymouth satellite

In [49]:
mpg_to_kpl = 1.60934 / 3.78541
mpg_to_kpl

0.42514285110463595

In [51]:
df['kpl'] = df['mpg'] * mpg_to_kpl

In [52]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,orign,name,kpl
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.652571
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.377143
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.652571
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.802286
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.227428
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,11.478857
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.706285
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,13.604571
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,11.904000
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.179428

In [53]:
df['kpl'] = df['kpl'].round(2)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,orign,name,kpl
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.65
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.80
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.23
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,11.48
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.71
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,13.60
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,11.90
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.18

In [54]:
print(df.dtypes)
print('\n')

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
orign             int64
name             object
kpl             float64
dtype: object

In [57]:
print(df['orign'].unique())
print('\n')

[1 3 2]

In [55]:
print(df['horsepower'].unique())
print('\n')

['130' '165' '150' '140' '198' '220' '215' '225' '190' '170' '160' '95'
 '97' '85' '88' '46' '87' '90' '113' '200' '210' '193' '?' '100' '105'
 '175' '153' '180' '110' '72' '86' '70' '76' '65' '69' '60' '80' '54'
 '208' '155' '112' '92' '145' '137' '158' '167' '94' '107' '230' '49' '75'
 '91' '122' '67' '83' '78' '52' '61' '93' '148' '129' '96' '71' '98' '115'
 '53' '81' '79' '120' '152' '102' '108' '68' '58' '149' '89' '63' '48'
 '66' '139' '103' '125' '133' '138' '135' '142' '77' '62' '132' '84' '64'
 '74' '116' '82']

In [58]:
# Count the number of '?' values in the 'horsepower' column
num_missing_horsepower = df['horsepower'].eq('?').sum()

print(f"Number of '?' values in the 'horsepower' column: {num_missing_horsepower}")

Number of '?' values in the 'horsepower' column: 6

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   orign         398 non-null    int64
 8   name          398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 31.2+ KB

In [60]:
# Display the rows where the 'horsepower' column is equal to '?'
display(df[df['horsepower'] == '?'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,orign,name,kpl
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto,10.63
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick,8.93
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe,17.39
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra,10.03
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i,14.67
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl,9.78

In [62]:
df.horsepower.describe()

count     398
unique     94
top       150
freq       22
Name: horsepower, dtype: object

In [63]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,orign,kpl
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864,9.996834
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055,3.322665
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000,3.830000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000,7.440000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000,9.780000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000,12.330000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000,19.810000

In [65]:
import numpy as np

# Replace '?' values in the 'horsepower' column with 0
df['horsepower'] = df['horsepower'].replace('?', 0)

# Verify the replacement
print("Number of '?' values after replacement:")
print(df['horsepower'].eq('?').sum())

Number of '?' values after replacement:
0

In [73]:
df['horsepower'] = df['horsepower'].astype('float')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   orign         398 non-null    int64
 8   name          398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(5), int64(4), object(1)
memory usage: 31.2+ KB

In [72]:
df.horsepower.describe()

count    398.000000
mean     102.894472
std       40.269544
min        0.000000
25%       75.000000
50%       92.000000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

Frequency of each value in 'horsepower' column:

horsepower
150.0    22
90.0     20
88.0     19
110.0    18
100.0    17
         ..
77.0      1
132.0     1
64.0      1
116.0     1
82.0      1
Name: count, Length: 94, dtype: int64

In [76]:
# Get the frequency of the value 102 in the 'horsepower' column
frequency_102 = df[df['horsepower'] == 102].shape[0]
print(f"Frequency of horsepower = 102: {frequency_102}")

# Get the frequency of the value 92 in the 'horsepower' column
frequency_92 = df[df['horsepower'] == 92].shape[0]
print(f"Frequency of horsepower = 92: {frequency_92}")

Frequency of horsepower = 102: 1
Frequency of horsepower = 92: 6

In [77]:
df['orign'].replace({1:'USA', 2:'EU', 3:'JAPAN'}, inplace=True)

print(df['orign'].unique())
print(df['orign'].dtypes)
print('\n')

['USA' 'JAPAN' 'EU']
object

/tmp/ipython-input-3197773119.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['orign'].replace({1:'USA', 2:'EU', 3:'JAPAN'}, inplace=True)

In [78]:
df['orign'] = df['orign'].astype('category')
print(df['orign'].dtypes)

df['orign'] = df['orign'].astype('str')
print(df['orign'].dtypes)

category
object

In [79]:
print(df['model year'].sample(3))
df['model year'] = df['model year'].astype('category')
print(df['model year'].sample(3))

337    80
130    74
197    76
Name: model year, dtype: int64
271    78
241    77
340    81
Name: model year, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]

# Quedamos en la slide 387